{{- $signingKey := joinPath .chezmoi.homeDir ".ssh/id_ed25519_signing.pub" -}}
{{- $allowedSigners := joinPath .chezmoi.homeDir ".ssh/allowed_signers" -}}
[user]
	name = vshulcz
	email = vshulcz@gmail.com
{{- if stat $signingKey }}
	signingkey = {{ $signingKey }}
{{- end }}

[http]
	proxy =
	postBuffer = 524288000

[https]
	proxy =

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true
{{- if stat $signingKey }}
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = {{ $allowedSigners }}
{{- end }}
